.size_selector {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.size_button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}