.size_selector {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.size_button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.size_button_unselected {
    border: 2px solid black;
    background-color: transparent;
    color: black
}

.size_button_selected {
    border: 2px solid black;
    background-color: black;
    color: white;
}